# ================================
# CREDENCIALES MySQL
# ================================
MYSQL_ROOT_PASSWORD=cambia_esto
MYSQL_DATABASE=sales_db
MYSQL_USER=cambia_esto
MYSQL_PASSWORD=cambia_esto
MYSQL_HOST=mysql

# ================================
# CREDENCIALES AIRFLOW
# ================================
AIRFLOW_DB_USER=cambia_esto
AIRFLOW_DB_PASSWORD=cambia_esto
AIRFLOW_DB_NAME=airflow_db

# ================================
# CREDENCIALES DASHBOARD (RBAC)
# ================================
APP_SECRET=cambia_esto_por_una_clave_secreta

# Para generar hash de contraseña nueva:
# python3 -c "import hashlib; print(hashlib.sha256(('TU_SECRET'+'TU_PASSWORD').encode()).hexdigest())"
APP_USERS={"admin": {"name": "Admin", "password": "HASH_AQUI", "role": "admin"}, "viewer1": {"name": "Viewer", "password": "HASH_AQUI", "role": "viewer"}}
